:root{
    --font-color: #000702;
    --dark-green: #1f2c13;
    --green:#5d612e;
    --red-color: #a94802;
    --yellow:#d4903b;
    --yellow-light:#f7c741e2;


}




  
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}




h1{
    color: var(--font-color);
    font-weight: 700;
    font-size: 96px;
}

h2{
    font-size:60px;
}


a{
    text-decoration:none;
    color: var(--red-color);
    margin: 5px;

}
a:hover{
    text-decoration:none;
    color: var(--red-color);

}


.button:hover {
    color:rgb(255, 255, 255);
    background-color:   var(--red-color);
    cursor: pointer;
}

.button {   
    font-style: italic;
    background-color: rgb(255, 255, 255);
    color: var(--red-color);
    padding: 15px 40px 15px;
    margin:10px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease-in-out; 


}

.about{
    font-size: 100px;
    font-weight: bold;
    margin:10px;
}


.info{    
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.info p{
    margin: 10px;
    padding: 15px;
    background:  var(--yellow-light);

    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contact{
    font-size: 25px;
    margin:20px;

}


.logo{
    max-width: 90px;
}

.container{
    max-width: 94%;
}


.mt-120 {
    margin-top: 120px;
}


@media (max-width: 576px) {

    .img-fluid {
          display:none;
        }
    body{
        text-align: center;
        align-content: center;
    }
    
    h1 {
        font-size: 48px;
      }
    
    h2 {
        font-size: 32px;
      }
    
    .main-buttons{
        font-size: 16px ;       
        display: inline-block;
        
    }
    
    .button{
        padding: 13px;
    }
    
    }