@font-face {
    font-family: 'Nunito-LightItalic';
    src: url(Nunito/static/Nunito-LightItalic.ttf);
  }


  
  
  form{
    padding: 5px 0px 10px;
    
}

a{
    color:black;
}


.card-body{
  
    background-color: hwb(0 100% 0% / 0.14);;
    
}

.cityName{
    color:rgb(148, 148, 148);
    font-family:  'Nunito-LightItalic' ;
    font-weight: bold;
    font-size:large;
    margin:0;
    
}

.lastDate{
    color:rgb(113, 113, 113);
    font-family: 'Nunito-LightItalic' ;
    font-size:medium;
    /* margin:0; */
 }


.card{
    top: 16px;
    width: 36em;
    margin: 0 auto;

}
h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
 }

 .temperature {
    font-family: 'Nunito-LightItalic' ;
    color: rgb(31, 31, 31);
    font-size:1cm;
    
    
 }

 

 .additional{
    margin:10px;
    font-size:x-large;   
    
 }
.container{
    
}

 .col{
    padding: 5px;
    
 }


 .madeBy{
  position:relative;
  text-align: center;
  margin: 20px;
  top: 20px
 }

 .wrapper{
  max-width: 600px;
  margin: 30px auto;
}



.mainImage{
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

