@font-face {
    font-family: 'Monserat';
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
  }


  @import "bootstrap/scss/utilities";

 


:root{
    --font-color: #000702;
    --dark-blue: #192941;
    --green:#5d612e;
    --red-color: #a94802;
    --yellow:#d4903b;
    --byellow:#f7d6ad;


}

/*Main */


body{
    font-family: 'Monserat';
}



h1{

}

h5{
    font-size: 22px;
    font-weight: 700;
}


a, a:hover, h6, li{
font-weight: 400;
font-size: 14px;
color: white;

}



ul.aside{
    list-style: none;
    padding:10px;
}

    
ul.aside li::before {
content: "\2022";  
color: red; 
font-weight: bold; 
display: inline-block; 
width: 1em; 
margin-left: -1em; 
}

/* Classes */


aside{
    background-color: var(--dark-blue);
    color: white;
}


.opacity-50{
    opacity: 50%;
}

